{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO</title>
    <style>
        body{
            background-color: grey;
            text-align: center;
            margin-top: 50px;
        }
        .todo-container{
            background-color: aqua;
            width: 300px;
            padding: 20px;
        }
        ul{
            list-style-type: none;
        }
        input[type ="checkbox"]{
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <h1>HIII !</h1>
    <div class = "todo-container">
        <h3>My to-do list</h3>
        <ul>
            <li><input type="checkbox">Shopping</li>
            <li><input type="checkbox">Cleaning</li>
            <li><input type="checkbox">Sleep</li>
            <li><input type="checkbox">Play</li>
            <li><input type="checkbox">Trip</li>
        </ul>
    </div>

</body>
</html>